body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-section img {
    max-width: 200px;
    max-height: 150px;
  }

  .search-container {
    margin: 0 20px;
  }
  
  .search-box {
    width: 800px;
    padding: 10px;
    border: 2px solid #265DA2;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    margin: 0 auto;
  }
  
  .icone-whatsapp img, .icone-perfil img {
    max-width: 50px;
    max-height: 30px;
  }
  
  .nav-text {
    font-size: 10px;
    color: #ffffff;
  }
  
  .logo-section img:hover,
  .icone-whatsapp img:hover {
    transform: scale(1.1);  /* Aumenta em 10% o tamanho da imagem */
    transition: transform 0.3s ease; /* Adiciona um efeito suave */
  }
   
  .nav-section {
    background-color: #265DA2;
    width: 100%;
    text-align: center;
    padding: 0px 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
  }
  
  .nav-container a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin: 0 10px;
  }
  
  .nav-container a:hover {
    transform: scale(1.1); /* Aumenta em 10% o tamanho do link */
    transition: transform 0.3s ease; /* Adiciona um efeito suave */
  }


  

  form {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 500px;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  input[type="text"], input[type="email"], input[type="url"], input[type="tel"] {
    border: 2px solid blue;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus {
    box-shadow: 0 0 5px 1px blue;
  }


footer {
    background-color: #265DA2;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo-section {
    text-align: left;
  }
  
  .logo-row {
    display: flex;
    align-items: center;
  }
  
  .logo-row img {
    max-width: 200px;
    max-height: 100px;
    margin-right: 10px;
  }
  
  .logo-row-secretaria a {
    display: inline-block;/* Garante que o link tenha apenas o tamanho do conteúdo */
    max-width: 250px;
    max-height: 200px;
  }
  
  .logo-row-secretaria img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do link */
    height: auto;
  }
  
  
  .contact-info {
    text-align: center;
  }
  
  .address {
    position: relative;
  }
  
  .address img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 100px;
  }
  
  .address p {
    font-size: 20px;
    margin: 5px 0;
  }
  
  .map-link {
    color: white; 
    text-decoration: none; 
  }
  
  .map-link:hover {
    text-decoration: underline; /* Adiciona sublinhado quando o mouse passa sobre o link */
  }
  
  
  .social-links {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-facebook,
  .logo-instagram {
    margin-top: 10px;
  }
  
  .logo-facebook img,
  .logo-instagram img {
    max-width: 50px;
    max-height: 50px;
  }
  
  .rede-sociais-text {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .social-links p {
    margin: 5px 10px 5px 0;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .logo-row img:hover,
  .logo-row-secretaria img:hover,
  .logo-facebook img:hover,
  .logo-instagram img:hover {
    transform: scale(1.1); /* Aumenta em 10% o tamanho da imagem */
    transition: transform 0.3s ease; /* Adiciona um efeito suave */
  }